@import 'GlobalStyles.scss';


.grid-container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "nav nav"
    "tickets map";

    .nav-wrap{
        grid-area: nav;
        background-color: #50E3C2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "logo form";
        //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        z-index: 6;

        .logo{
            grid-area: logo;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img{
                margin-left: 20px;
            }
        }
        .search-form{
            grid-area: form;
            justify-content: flex-end;
            display: grid;
            height: 100%;
            grid-gap: 6px;
            margin-right: 15px;
            grid-template-columns: 160px 160px 100px 75px 75px;
            grid-template-rows: 1fr 35px  35px 1fr;
            grid-template-areas:
            ". . . . ."
            "fromInput startDate rFrom rFromDisp submit"
            "toInput returnDate rTo rToDisp submit"
            ". . . . .";

            .datepicker input{
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                border: none;
                padding-left: 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                outline: none;
                border-radius: 3px;
            }
            #from-input{
                grid-area: fromInput;

                input{
                    height: 100%;
                    width: 100%;
                    box-sizing: border-box;
                    border: none;
                    padding-left: 5px;
                    font-size: 14px;
                    font-weight: 500;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    vertical-align: middle;
                    outline: none;
                    border-radius: 3px;
                    z-index: 7;
                }
                .autocomplete-results{
                    z-index: 8;
                }
                
            }
            #to-input{
                grid-area: toInput;
                
                input{
                    height: 100%;
                    width: 100%;
                    box-sizing: border-box;
                    border: none;
                    padding-left: 5px;
                    font-size: 14px;
                    font-weight: 500;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    vertical-align: middle;
                    outline: none;
                    border-radius: 3px;
                    z-index: 7;
                }
                .autocomplete-results{
                    z-index: 8;
                }
            }
            #radius-from{
                grid-area: rFrom;
                cursor: pointer;
            }
            #radius-to{
                grid-area: rTo;
                cursor: pointer;
            }
            #start-datepicker{
                grid-area: startDate;
            }
            #return-datepicker{
                grid-area: returnDate;
            }
            #submit-input{
                grid-area: submit;
                display: flex;
                justify-content: center;
                align-items: center;
                .submit-button{
                    background-image: url('../assets/submit-btn.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 75px;
                    height: 75px;
                    box-sizing: border-box;
                    user-select: none;
                    outline: none;
                    transition: .2s all;
                    
                    &:hover{
                        transform: rotate(5deg);
                    }
                    &:active{
                        transform: translateY(2px);
                    }
                }
            }
            #radius-from-disp{
                grid-area: rFromDisp;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: #fff;
                font-weight: 700;
            }
            #radius-to-disp{
                grid-area: rToDisp;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: #fff;
                font-weight: 700;
            }
        }
    }
    .tickets-wrap{
        grid-area: tickets;
        background-color: #fd6b6d;
        overflow-y: scroll;
        overflow-x: hidden;


        &::-webkit-scrollbar {
            width: 5px;  /* remove scrollbar space */
            background: transparent;  /* optional: just make scrollbar invisible */
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, .2);
            border-radius: 20px;
        }

        .sort-options{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;

            .sort-option{
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
                cursor: pointer;
                height: 30px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 15px;
                background-color: #fff;
                margin: 0px 5px;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                &:hover{
                    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                }
            }
        }
        #presearch-message{
            position: relative;
            text-align: center;
            padding-left: 20%;
            padding-right: 20%;
            top: calc(50% - 80px);
            transform: translateY(-50%);
            
        }
        #search-spinner{
            position: relative;
            background-image: url('../assets/spinner.svg');
            width: 100px;
            height: 100px;
            top: calc(50% - 80px);
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .ticketLabel{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            width: 50%;
            height: 30px;
            font-weight: 600;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 20px;
            border-radius: 20px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }

        .ticket{
            width: 90%;
            height: 175px;
            margin: 5px auto;
            border-radius: 10px;
            background-color: #fff;
            font-family: 'Avenir';
            font-weight: 800;
            box-shadow: 1px 0 3px rgba(0,0,0,0.12), 1px 0 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            user-select: none;
            color: #4A4A4A;
            text-decoration: none;



            display: grid;
            grid-template-columns: 1fr 1fr 20px;
            grid-template-rows: 1fr 25px 25px 25px;
            grid-template-areas: 
            "fromTo price colorx"
            "depart depart colorx"
            "return return colorx"
            "durlegs durlegs colorx";

            .ticket-from-to{
                grid-area: fromTo;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 25px;
            }
            .ticket-price{
                grid-area: price;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
            }
            .ticket-color{
                grid-area: colorx;

                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            .ticket-departure{
                grid-area: depart;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    //margin-left: 15px;
                    margin-right: 10px;
                }
                border-top: 1px dashed #D8D8D8;
            }
            .ticket-return{
                grid-area: return;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    //margin-left: 15px;
                    margin-right: 10px;
                }
                border-bottom: 1px dashed #D8D8D8;
            }
            .ticket-duration-legs{
                grid-area: durlegs;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    margin: 10px 5px;
                }
            }
            &:hover{
                cursor: pointer;
                box-shadow: 5px 0 10px rgba(0,0,0,0.25), 3px 0 3px rgba(0,0,0,0.22);
            }
            &:nth-child(odd) .ticket-color{
                background-color: #57B8FF;
            }
            &:nth-child(even) .ticket-color{
                background-color: #50e3c2;
            }
        }
    }
    .map-wrap{
        grid-area: map;

        #mapboxgl-map{
            width: 100%;
            height: 100%;
        }
        
    }
    
}
