@import 'GlobalStyles.scss';

#app-page-container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1.75fr 1fr;
    grid-template-rows: 100px 125px 1fr;
    grid-template-areas: 
    "nav nav"
    "sortWrap ticketDetailsWrap"
    "ticketsWrap ticketDetailsWrap";

    
    #app-nav{
        grid-area: nav;
        background-color: $PrimaryBlue;

        display: grid;
        grid-template-columns: 1fr .4fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "search profile";

        #search-bar-wrap{
          //  border-left: 1px solid white;
         //   border-right: 1px solid white;
            grid-area: search;
            
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 20px;

            input, button{
                outline: none;
            }

            #trip-selection{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                width: 100%;

                
                p{
                    margin-right: 10px;
                    color: $FontLight;
                    font-size: 18px;
                    font-weight: 100;
                    user-select: none;
                    cursor: pointer;
                }
            }

            #app-page-search-form{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-top: 5px;

                #from-input{
                    input{
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                }
                .autocomplete{
                    input{
                        width: 185px;
                        height: 40px;
                        margin: .5px;
                        border: none;
                        box-sizing: border-box;
                        vertical-align: middle;
                        font-size: 15px;
                        padding-left: 7px;
                    }
                }
                .datepicker{
                    input{
                        width: 185px;
                        height: 40px;
                        text-align: center;
                        margin: .5px;
                        border: none;
                        box-sizing: border-box;
                        vertical-align: middle;
                        font-size: 12px;
                    }
                }
                #nav-search-submit-btn{
                    width: 70px;
                    height: 40px;
                    background-color: $PrimaryGreen;
                    border: none;
                    margin: .5px;
                    box-sizing: border-box;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    cursor: pointer;
                }
                #submit-svg{
                        background: url('../assets/search-solid.svg') no-repeat top left;
                        background-size: contain;
                        display: inline-block;
                        height: 22px;
                        width: 22px;
                }
            }
        }
        #nav-profile-wrap{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: row;
            grid-area: profile;

            #nav-username-wrap{
                color: $FontLight;
                user-select: none;
                cursor: pointer;
                p{
                    font-size: 25px;
                    font-weight: 100;

                }
            }
            #nav-profile-picture{
                border: 1px solid #fff;
                background-color: #fff;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                margin: 0 20px;
                cursor: pointer;
                

                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    object-fit: fill;
                }
            }
        }
    }
    #app-sort-wrap{
        grid-area: sortWrap;
        background-color: #e4e4e4;
    }
    #app-tickets-wrap{
        grid-area: ticketsWrap;
    }
    #app-ticket-details-wrap{
        grid-area: ticketDetailsWrap;
        background-color: #ffffff;
        border-left: 1px solid $PrimaryBlue;
    }
}

.sweet-modal {
    background-color: #f7f7f7;

}

.sweet-modal.is-alert .sweet-content {
    padding-top: 32px;
    padding-bottom: 64px;
}

.sweet-modal-tab-title {
    font-size: 20px;
}