@import 'GlobalStyles.scss';

#page-container {
    width: 100%;
    height: 200vh;
    background-color: #F2F2F2;
}

.nav {
    position: fixed;
    display: grid;
    width: 100%;
    height: 100px;
    background-color: $PrimaryBlue;
    grid-template-columns: 1fr 450px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo navLinkWrap"
    ;
    color: $FontLight;
    z-index: 5;

    #logo-wrap {
        grid-area: logo;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            text-decoration: none;
            color: $FontLight;
        }

        #logo {
            font-family: $Fredoka;
            margin-left: 30px;
            font-size: 50px;
            cursor: pointer;
            user-select: none;
            color: $FontLight;

        }
      /*  a img{
            height: 60px;
            margin-left: 15px;
        }
        */
    }

    #nav-link-wrap {
        grid-area: navLinkWrap;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
    }

    #nav-link-wrap h2 {
        font-family: $OpenSans;
        font-weight: 100;
        font-size: 25px;
        padding: 10px;
        cursor: pointer;
        user-select: none;


        &:hover {
            text-decoration: underline;
            text-decoration-color: $PrimaryGreen;
        }
    }
}

.top-grid-container {
    padding-top: 100px;
    display: grid;
    width: 100%;
    height: 75vh;
    background-color: $PrimaryBlue;
    grid-template-columns: 50px .4fr .6fr 50px;
    grid-template-rows: 25px 300px 25px 120px 1fr 150px;
    grid-template-areas:
        ". . . ."
        ". leftText rightIMG ."
        ". . . ."
        ". beta beta ."
        ". . . ."
        "wave wave wave wave";


    .text-left {
        grid-area: leftText;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        padding-left: 50px;

        h1 {
            color: $FontLight;
            font-family: $Nunito;
            font-weight: 400;
            font-size: 3.5vw;
        }
    }

    .phone-graphic-right {
        grid-area: rightIMG;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 45vw;
        }
    }

    .beta-mid {
        grid-area: beta;
        display: flex;
        justify-content: center;
        align-items: center;

        #beta-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 400px;
            height: 55px;
            background-color: $PrimaryGreen;
            border-radius: 40px;
            cursor: pointer;
            user-select: none;
            box-shadow: 0 20px 15px -6px rgba(0, 0, 0, 0.19);

            &:active {
                transform: translateY(1px);
            }

            p {
                font-family: $OpenSans;
                color: $FontLight;
                font-weight: 700;
                font-size: 25px;
            }
        }
    }

    .wave-container {
        grid-area: wave;
        background-color: #F2F2F2;
        user-select: none;
        img{
            transform: translateY(-5px);
            width: 100%;
        }
    }
}

.ticker-grid-container{
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 375px 375px 375px 1fr;
    grid-template-rows: 500px 1fr;
    grid-template-areas: 
        ". ticker1 ticker2 ticker3. "
        "tickerInfo tickerInfo tickerInfo tickerInfo tickerInfo";

        .ticker-wrap{
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        .ticker{
            z-index: 2;
            transform: translateY(-35px);
        }
        #ticker1-wrap{
            grid-area: ticker1;
        }
        #ticker2-wrap{
            grid-area: ticker2;
        }
        #ticker3-wrap{
            grid-area: ticker3;
        }
        #ticker-info-wrap{
            grid-area: tickerInfo;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                font-family: $Nunito;
                font-size: 40px;
            }
        }

}

.alt-option {
    margin-right: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.signIn-register-container {
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-auto-rows: 1fr;
    grid-template-areas:
        "left right";

    .left {
        grid-area: left;
        border-right: 1px solid $PrimaryBlue;


        #register-form {
            text-align: center;
        }

        .signIn-register-input {
            border: none;
            width: 90%;
            height: 45px;
            margin: 5px;
            padding-left: 5px;
            -webkit-appearance: none;
            outline: none;
            font-size: 14px;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            box-sizing: border-box;

            &:hover {
                border: 1px solid #b9b9b9;
                border-top: 1px solid #a0a0a0;
                -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            }

            &:focus {
                border: 1px solid #b9b9b9;
                border-top: 1px solid #a0a0a0;
                -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            }
        }

        .signIn-register-submit-btn {
            width: 90%;
            height: 45px;
            background-color: $PrimaryGreen;
            color: $FontLight;
            border: none;
            font-size: 20px;
            font-weight: 600;
            margin: 5px;
            box-sizing: border-box;
            cursor: pointer;
            outline: none;

            &:hover{
                background-color: #2CC995;
            }
            &:active{
                background-color: $PrimaryGreen;
            }
        }
    }

    .right {
        grid-area: right;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        img {
            width: 90%;
            margin: 3px;
            cursor: pointer;
        }
    }
}


.sweet-modal {
    background-color: #f7f7f7;

}

.sweet-modal.is-alert .sweet-content {
    padding-top: 32px;
    padding-bottom: 64px;
}

.sweet-modal-tab-title {
    font-size: 20px;
}